@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  nav {
    padding: 1rem;
    border-bottom: 2px solid darkblue;

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      gap: 15px;
      padding: 0;

      a {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: 2px solid #1976d2;
        background-color: #1976d2;
        text-decoration: none;
        outline: 1px solid rgba(255, 255, 255, 0.5);
        padding: 5px 10px;
        border-radius: 5px;

        &:hover {
          background-color: #3d95ed;
        }
      }
    }
  }
}